body {
    background: linear-gradient(to bottom, #f3903f, #eb8100, #000000);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #c46404;
    color: #79572e;
}

header {
    background-color: #f58904b1; /* Новый цвет header */
    color: #000000; /* Цвет текста в header */
}

.form-group {
    margin-bottom: 1rem;
}

article {
    transition: background-color 0.3s ease;
}